<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f8bb1">  <td>20/06/12 16:36:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;IOSRunTest.setUp()[pri:0, instance:mobileautomation.mobile.automation.IOSRunTest@5442a311]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>20/06/12 16:36:10</td>   <td>5548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IOSRunTest.IOSTestCase()[pri:0, instance:mobileautomation.mobile.automation.IOSRunTest@5442a311]">IOSTestCase</td> 
  <td>main@1558712965</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>20/06/12 16:36:14</td>   <td>9728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;IOSRunTest.quitDriver()[pri:0, instance:mobileautomation.mobile.automation.IOSRunTest@5442a311]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td>  <td>main@1558712965</td>   <td></td> </tr>
</table>
